


.page-container {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: auto;
  grid-template-areas:
    "navbar header"
    "navbar summary"
    "navbar summary"
}

nav {
  background-color: #354051;
  color: #ABB6C8;
  grid-area: navbar;
  display: grid;
  grid-template-rows: auto;
  font-size: 10px;
}

.user-pic {
  text-align: center;
  margin-top: 30px;
  border-bottom: 2px solid #2D384B;
}

.user-name:after {
  background-image: url('images/chevron-down-solid.svg');
}

nav h4 {
  color: #536073;
  margin: 20px auto auto 15px;
}

.user-name {
  color: #ABB6C8;
  margin: 10px auto 30px;
}

ul {
  padding-left: 0px;
}

li {
  list-style: none;
  color: #ABB6C8;
  padding: 10px 0px 10px 15px;
}

.admin li:hover, .main li:hover {
  background-color: #2D384B;
  border-left: 2px solid #13A4FA;
}

.admin li, .main li {
  border-left: 2px solid transparent;
}

.main {
  border-bottom: 2px solid #2D384B;
}

nav li:before {
  content: '';
  display: inline-block;
  margin-right: 10px;
  height: 15px;
  width: 15px;
  background-position: center;
  background-repeat: no-repeat;
}

.home:before {
  background-image: url('images/home-solid.svg');
}

.jobs:before {
  background-image: url('images/briefcase-solid.svg');
}

.resumes:before {
  background-image: url('images/file-contract-solid.svg');
}

.tasks:before {
  background-image: url('images/clipboard-list-solid.svg');
}

.calendar:before {
  background-image: url('images/calendar-alt-solid.svg');
}

.user:before {
  background-image: url('images/user-friends-solid.svg');
}

.location:before {
  background-image: url('images/map-marker-alt-solid.svg');
}

.workflows:before {
  background-image: url('images/network-wired-solid.svg');
}

.job-boards:before {
  background-image: url('images/paste-solid.svg');
}

.social:before {
  background-image: url('images/code-branch-solid.svg');
}

.admin {
  border-bottom: 2px solid #2D384B;
}

.categories li:before {
  margin-right: 0px;
}

nav section input {
  margin-left: -15px;
}

nav section label {
  margin-left: 15px;
}

a {
  color: #fff;
  text-decoration: none;
}

.profile-pic {
  border-radius: 100% 100%;
}

header {
  grid-area: header;
  display: grid;
  grid-template-columns: .5fr 4fr .5fr .5fr .5fr;
  grid-template-rows: .50fr 1fr .40fr;
  grid-template-areas:
    "hamburger search social video nine"
    "title title buttons buttons buttons"
    "nav-list nav-list nav-list nav-list nav-list";
}

.icon:hover {
  background-color: #13A4FA;
}

.icon {
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-position: center;
  border-right: 2px solid lightgrey;
  background-size: 45% 45%;
}

.nav-button {
  grid-area: hamburger;
  background-image: url('images/caret-left-solid.svg'), 
                    url('images/bars-solid.svg');
  background-position: left, center;
  background-size: 30% 30%, 50% 50%;
}

.search-field {
  grid-area: search;
}

header input {
  width: 90%;
  height: 100%;
  border: none;
  margin-left: 10px
}

header input[type='text'] {
  background: url('images/search-solid.svg') no-repeat;
  background-size: 25% 25%;
  padding-left: 6%;
  background-position: -12% 50%;
  color: #ABB6C8;
  font-size: 1em;
}

.add-button {
  grid-area: social;
  background-image: url('images/user-plus-solid.svg');
  border-left: 2px solid lightgrey;
}

.video {
  grid-area: video;
  background-image: url('images/calendar-plus-solid.svg');

}

.page-display {
  grid-area: nine;
  background-image: url('images/th-solid.svg');
}

.title-container {
  padding-top: 3%;
  padding-left: 5%; 
  border-top: 2px solid lightgrey;
  grid-area: title;
}

header h2 {
  padding-bottom: 1%;
}

h5 span {
  color: #13A4FA;
}

.button-corral {
  padding-top: 15%;
  border-top: 2px solid lightgrey;
  grid-area: buttons;
}

.button.open {
  margin-left: -10%;
}

.button {
  margin-right: 5%;
}

.nav-line {
  grid-area: nav-list;
  display: flex;
  align-items: flex-end;
}

.nav-line p {
  font-size: .65em;
  margin-left: 3.5%;
  margin-bottom: 0%;
  padding-bottom: 10px;
}



header p:hover {
  border-bottom: 2px solid #13A4FA;
}

header p {
  border-bottom: 2px solid transparent;
}

.summary {
  background-color: #EDF2F6;
  grid-area: summary;
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: auto;
  grid-template-areas:
    "data data"
    "summary social"
}

.data-display {
  grid-area: data;
}

.job-description {
  grid-area: summary;
}

.social {
  grid-area: social;
}

.table-head {
  color: white;
  background-color: #6F7E95;
  /*grid-column: 1 / span 2;*/
}
.table {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: repeat (8, auto);
  grid-gap: 15px 0px;
  background-color: white;
  margin: 30px;
  margin-top: 0px;
  font-size: .70em;
  padding: 20px 20px 0px 20px;
}

.hiring-person{
  border-radius: 100% 100%;
  height: 25px;
  width: 25px;
  position: absolute;
  left: 10px;
  top: -7px;
}

.table h6, .table p {
  margin: 0px;
  padding-bottom: 15px;
  border-bottom: 1px solid lightgrey;
}

.table p.hiring-img {
  position: relative;
  padding-left: 40px;
}

.table p {
  padding-left: 10px;
}

.table-head {
  margin: 30px 30px 0px 30px;
  padding-top: 20px;
  border-bottom: none;
}
.table-head h6 {
  border-bottom: none;
  padding-left: 20px;
  margin: 0px;
  padding-bottom: 20px;
}

.table .last {
  border-bottom: none;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px 30px 30px 0px;
}

footer button {
  border-radius: 5px;
}

footer h4, footer p{
  margin: 0px;
}

footer p {
  font-size: .65em;
  margin: 10px 0px 10px 0px;
}

footer h4 {
  padding-top: 20px;
  border-top: 2px solid lightgrey;
}

.job-link {
  border: none;
}

.social-buttons button {
  position: relative;
  width: 100%;
  height: 35px;
  margin-bottom: 10px;
  border: none;
  color: white;
}

.social-buttons i {
  position: absolute;
  left: 10px;
}

.facebook {
  background-color: #4B72C3;
}

.tweet {
  background-color: #00AAEF;
}

.linkedin {
  background-color: #0181BC;
}

.copy {
  align-items: center;
  height: 30px;
  margin-bottom: 20px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  border: none;
  background-color: #46B8C2;
  color: white;
  padding-right: 5px;

}

.input-copy {
  height: 30px;
  width: 80%;
  border: 0px;
}



