*{
/*  border: 1px solid blue;*/
}

.page-container {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: auto;
  grid-template-areas:
    "navbar header"
    "navbar summary"
    "navbar summary"
}

nav {
  background-color: #354051;
  color: #ABB6C8;
  grid-area: navbar;
  display: grid;
  font-size: 10px;
}

.user-pic {
  text-align: center;
  margin-top: 30px;
  border-bottom: 2px solid #2D384B;
}

.user-name:after {
  background-image: url('images/chevron-down-solid.svg');
}

nav h4 {
  color: #536073;
  margin: 20px auto auto 15px;
}

.user-name {
  color: #ABB6C8;
  margin: 10px auto 30px;
}

ul {
  padding-left: 0px;
}

li {
  list-style: none;
  color: #ABB6C8;
  padding: 10px 0px 10px 15px;
}

.admin li:hover, .main li:hover {
  background-color: #2D384B;
  border-left: 2px solid #14ACF7;
}

.main {
  border-bottom: 2px solid #2D384B;
}

nav li:before {
  content: '';
  display: inline-block;
  margin-right: 10px;
  height: 15px;
  width: 15px;
  background-position: center;
  background-repeat: no-repeat;
}

.home:before {
  background-image: url('images/home-solid.svg');
}

.jobs:before {
  background-image: url('images/briefcase-solid.svg');
}

.resumes:before {
  background-image: url('images/file-contract-solid.svg');
}

.tasks:before {
  background-image: url('images/clipboard-list-solid.svg');
}

.calendar:before {
  background-image: url('images/calendar-alt-solid.svg');
}

.user:before {
  background-image: url('images/user-friends-solid.svg');
}

.location:before {
  background-image: url('images/map-marker-alt-solid.svg');
}

.workflows:before {
  background-image: url('images/network-wired-solid.svg');
}

.job-boards:before {
  background-image: url('images/paste-solid.svg');
}

.social:before {
  background-image: url('images/user-plus-solid.svg');
}

.admin {
  border-bottom: 2px solid #2D384B;
}

nav section.categories li:before {
  margin-right: 0px;
}

nav section input {
  margin-left: -15px;
}

nav section label {
  margin-left: 15px;
}

a {
  color: #fff;
  text-decoration: none;
}

.profile-pic {
  border-radius: 100% 100%;
}

header {
  display: grid;
  grid-area: header;
  border: 1px solid purple;
}

.summary {
  background-color: #EDF2F6;
  grid-area: summary;
  border: 1px solid green;
}